$bg-color: #664fff;
$color: #cfc8ff;

/* 
 * @mixin btn{
 *     ...
 * } 
*/
.extend-btn{
    margin: 0 2px;
    width: 200px;
    height: 200px;
    padding: 10px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    color: $bg-color;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
}

body{

    margin: 0;
    padding: 0;

    background-color: $bg-color;
    color: $color;
    text-transform: uppercase;
    
    .main{
        
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        
        &__btn{
            background-color: $color;
            
            // @include btn;
            @extend .extend-btn;
            
            &--black{
                background-color: #000;

                // @include btn;
                @extend .extend-btn;
            } 
        }

    }
}

/* 
 * npx node-sass src/sass/main.scss dist/css/main.css
 * npx node-sass src/sass/ -o dist/css/ -w
 */