*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #30343F;
    padding: 10%;
}

#title, .subtitle, .post_title{
    color: #B4ADEA;
    font-family: 'Courier New', Courier, monospace;
    margin: 5% 0;
    text-transform: uppercase;
}
#title{
    background-color: #FBFFF1;
    padding: 2px;
    border-radius: 5px;
}
#header{
    padding: 20% 0;
    width: 70%;
    margin: auto;
    text-align: center;
}
#header img{
    display: inline-block;
    border-radius: 50%;
    border: 2px solid transparent;
}
#header img:hover{
    border: 2px solid #ED6A5A;
}

p{
    color: #2c2c2c;
}
a{
    text-decoration: none;
    color: #ED6A5A;
    padding: 2px 4px;
}
a:hover{
    background-color: #ED6A5A;
    color: #FBFFF1;
    border-radius: 4px;
}

.post{
    background-color: #FBFFF1;
    border: 2px solid #ED6A5A;
    padding: 0 5%;
    padding-bottom: 5%;
    margin-bottom: 5%;
    border-radius: 4px;
}
.post img{
    display: inline-block;
    text-align: center;
    width: 100%;
    border-radius: 4px;
}
#title, .post_title{
    text-align: center;
}

footer{
    width: 50%;
    margin: auto;
}
ul {
    list-style-type: '\1F49B'; /* obrigado Digital Innovation One sz */
}