@import 'partials/_pageweb.scss';
@import 'partials/_fashion.scss';
@import 'partials/_strata.scss';

$bg-color: #5b1716;
$color-bg-h2: #ffd1ca; //#c65130
 
body#inicio{
    margin: 0;
    padding: 0;
    background-color: $bg-color;
    
    nav {
        position: fixed;
        width: 100%;
        margin-top: 10px;
        background-color: transparent;
        
        ul{
            display: flex;
            justify-content: center;

            li{
                list-style: none;
                margin: 0 2px;

                a{
                    color: $bg-color;
                    text-decoration: none;
                    text-transform: uppercase;
                    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                    padding: 5px;
                    font-size: 14px;
                    font-weight: bold;
                    border: 1px solid $color-bg-h2;
                    background-color: $color-bg-h2;
                    border-radius: 2px;
                    -webkit-border-radius: 2px;
                    -moz-border-radius: 2px;
                    -ms-border-radius: 2px;
                    -o-border-radius: 2px;
                }
                a:hover{
                    background-color: $bg-color;
                    color: $color-bg-h2;
                }
            }
        }
    }
    header{
        width: 100%;
        height: 100vh;
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        .logotipo{
            width: 50%;
        }
        p{
            color: $color-bg-h2;
            font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            font-size: 20px;
            text-transform: uppercase;

            a{
                text-decoration: none;
                color: $color-bg-h2;
                background-color: #c65130;
            }
        }
    }


    main{
        background-color: #fff;
        
        .exercicios{
            width: 90%;
            background-color: #fff;
            padding: 10% 4%;
        }
    }
}
#ex01{
    height: 50vh;
}
#ex02{
    margin: auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    h1{
        background-color: $color-bg-h2;
        color: #c65130;
        text-align: center;
        font-size: 26px;
    }
    h2{
        font-size: 20px;
        background-color: $color-bg-h2;
        color: $bg-color;
        padding: 5px;
        border-bottom: 2px solid #c65130;
    }
    div{
        margin: 10px 0;
    }
    ul{
        padding-left: 16px;
        li{
            color: #898989;
        }
    }
    p{
        color: #898989;
        margin: 0;
        padding: 2px 0;

        a{
            text-decoration: none;
        }
        a:active{
            color: blue;
        }
        a:visited{
            color: #c65130;
        }
        a:hover{
            text-decoration: underline;
        }
        b{
            color: #515151;
        }
    }
}
#desafio-check{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    .container-checkbox{
        display: flex;
        justify-content: space-around;

        label{
            display: flex;
        }

        span{
            display: inline-block;
            border-radius: 10px;
            width: 40px;
            height: 20px;
            margin-right: 5px;
            background-color: #ddd;
            position: relative;
            transition: all .2s;
            border: 1px solid transparent;
        }
        span:hover:after{
          cursor: pointer;
        }
        span:after{
          content: '';
          display: inline-block;
          position: absolute;
          width: 16px;
          height: 16px;
          border-radius: 50%;
          background-color: white;
          top: 2px;
          left: 3px;
          transition: all .2s;
        }
        
        input[type="checkbox"]{
          width: 0;
          margin: 0;
        }
        input[type="checkbox"]:focus + span{
            border: 1px solid #00aeffc2;
        }
        input[type="checkbox"]:checked + span{
          background-color: #00d62c;
        }
        input[type="checkbox"]:checked + span:After{
          left: 22px;
        }

    }
}