@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Android';
    src: url('../fontes/idroid.otf');
}

:root{
    --cor0: #cbe5c5;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --fonte-padrao: Arial, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android: 'Android';
}

body{
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
}

header{
    /* padding: 12px; */
    padding: 10px;
    min-height: 140px;
    color: var(--cor0);
    background: linear-gradient(to top, var(--cor5), var(--cor2));
}
header > h1{
    font-family: var(--fonte-destaque);
    text-align: center;
    padding: 40px 0 20px 0;
    text-transform: uppercase;
    font-size: 3em;
    text-shadow: 1px 1px 1px #00000077;
}
header > p{
    font-family: var(--fonte-destaque);
    margin: 0 auto;
    text-align: center;
    max-width: 600px;
    padding: 0 10px 20px 10px;
    font-size: 1.2em;
    text-shadow: 1px 1px 1px #00000077;
}
header a{
    text-decoration: none;
    color: var(--cor0);
    font-weight: bold;
    padding: 5px 10px;
    border: 1px solid transparent;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
header a:hover{
    transition-duration: 1s;
    background-color: var(--cor0);
    color: var(--cor5);
    border: 1px solid var(--cor2);
    box-shadow: 2px 2px 1px var(--cor2);
}

main{
    margin: 0 auto;
    padding-bottom: 20px;
}
.container-main{
    background-color: #fff;
    min-width: 320px;
    max-width: 865px;
    padding: 20px;

}

.container-main h1, h2{
    font-family: var(--fonte-android);
    color: var(--cor5);
    margin-bottom: 10px;
}
.container-main h1{
    font-size: 20px;
}
.container-main h2{
    margin-top: 20px;
    font-size: 18px;
}
.container-main p{
    text-align: justify;
    text-indent: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
picture{
    text-align: center;
}
.container-main img{
    width: 100%;
    margin: 2px 0;
}
.container-bugdroid{
    text-align: center;
}
.bugdroid-img{
    max-width: 350px;
}

#rodape{
    margin: 0 auto;
    background-color: #fff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.video{
    background-color: var(--cor5);
    width: 100%;
    padding: 20px 0;
    text-align: center;
    /*500 / 280*/
}
.extra {
    background-color: var(--cor0);
    margin: 20px;
    padding: 0 0 10px 0;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.extra aside{
    padding: 10px;
    border-radius: 10px 10px 0 0;
    background-color: var(--cor4);
    -webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    -ms-border-radius: 10px 10px 0 0;
    -o-border-radius: 10px 10px 0 0;
}
.container-lista{
    width: 100%;
    margin: 0 auto;
}
.extra p, ul{
    padding: 10px;
}
.extra li{
    list-style: none;
}
.primeira-lista{
    float: left;
    margin: 0 70px 0 20px;
}
.segunda-lista{
}
.extra p{
    clear: both;
}
#rodape p{
    padding: 10px 20px;
}
footer{
    text-align: center;
    padding: 20px;
    background-color: var(--cor5);
    color: var(--cor0);
}

strong{
    color: var(--cor5);
    padding: 2px;
}
main a{
    text-decoration: none;
    color: var(--cor4);
    font-weight: bold;
    padding: 2px;
}
main a:hover{
    background-color: var(--cor1);
}

@media (min-width: 865px) {
    main{
        width: 800px
    }
    main img{
        width: 100%;
    }
}