@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Titillium+Web');
@import url('https://fonts.googleapis.com/css?family=Titan+One')

body {
	font-family: Arial;
	background-color: #dddddd;
	color: rgba(0,0,0,1);
}
div#interface {
	width: 900px;
	background-color: #ffffff;
	margin: -20px auto 0px auto;
	box-shadow: 0px 0px 10px rgba(0,0,0,.5);
	padding: 10px;
	position: relative;
}
p {
	text-align: justify; 
	text-indent: 50px;
}

a {
	color: #606060;
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}
img#icone {
	position: absolute;
	left: 750px;
	top: 45px;
}
header#cabecalho {
	border-bottom: 1px #606060 solid;
	height: 120px;
}
img#logo {
	position: absolute;
	top: 100px;
	left: 25px;
}
header#cabecalho h1 {
	font-family: 'Titan One', cursive;
	font-size: 30px;
	color: #606060;
	text-shadow:  1px 1px 1px rgb(0,0,0,.6);
	padding: 0px;
	margin-bottom: 0px;
	
}
header#cabecalho h2 {
	font-family: Hevena; 
	color: #88888;
	font-size: 15pt;
	padding: 0px;
	margin-top: 0px;
	font-family: 'Titillium Web', sans-serif;
}


/* FORMATAÇÃO DE IMAGENS COM LEGENDAS */

figure.foto-legenda {
	position: relative;
	border: 2px solid white;
	display: inline-block;
	box-shadow: 1px 1px 4px black;
}
figure.foto-legenda img {
	width: 100%;
	height: 100%
}
figure.foto-legenda figcaption {
	opacity: 0;
	position: absolute;
	top: 0px;
	background-color: rgba(0, 0, 0,.4);
	color: white;
	width: 100%;
	reight: 100%;
	padding: 10px;
	box-sizing: border-box;
	transition: opacity 1s;
}

figure.foto-legenda:hover figcaption {
	opacity: 0.5;
} 

/* FORMATAÇÃO DO MENU */
nav#menu{
	display: block;
}

nav#menu ul {
	list-style: none;
	text-transform: uppercase;
	position: absolute;
	top: -10px;
	left: 230px;
}

nav#menu li {
	display: inline-block;
	background-color: #dddddd;
	padding: 10px;
	margin: 2px;
	border: 1px solid #cecece;
	font-size: 18px;
}
nav#menu li:hover {
	background-color: #606060;
}
nav#menu a {
	color: #ffffff;
	transition: color 2s;
	text-decoration: none;
}
section#corpo {
	display: block;
	width: 515px;
	float: left;
	border-right: 1px solid #606060;
	padding-right: 15px;
	padding-: 15px;
}
article#noticias h2 {
	font-size: 12pt;
	color: #606060;
	background-color: #dddddd;
	padding: 5px 0px 5px 10px;
	margin: 10px 0px 10px 0px;
}
header#autor h1{
	font-family: 'Titan One', cursive;
	font-size: 20pt;
	color: #606060;
	margin-bottom: 0px;
	margin-top: 0px;
}
header#autor h2{
	font-size: 13pt;
	color: #cecece;
	background-color: #ffffff;
	margin: 0px;
}
header#autor h3{
	font-size: 1px;
	color: #606060;
}
.direita {
	text-align: right;
}
table#tabela {
	border: 1px solid #606060;
	border-spacing: 0px;
	margin-left: auto;
	margin-right: auto;
}
table#tabela td {
	border: 1px solid #ffffff;
	padding: 10px;
	text-align: center;
	font-size: 17px;
	font-family: Arial;
}
table#tabela td.ce{
	color: #ffffff;
	background: #606060;
	vertical-align: top;
	text-align: right;
}
table#tabela td.top{
	color: #ffffff;
	background: #606060;
	font-size: 15px;
	font-weight: bolder;
}
table#tabela td.cd{
	background: #cecece;
	text-align: left;
}
aside#lateral {
	display: block;
	width: 345px;
	float: right;
	background-color: #dddddd;
	padding: 10px;
	margin-top: 10px;
	box-shadow: 2px 2px 2px rgba(0,0,0,.5);
}
aside#lateral h1{
	font-family: Arial;
	font-size: 20pt;
	color: #606060;
	margin-top: 0px;
}
aside#lateral h2{
	background-color: #606060;
	font-size: 15pt;
	color: white;
	padding: 5px
}
footer#rodape {
	clear: both;
	border-top: 1px solid #606060;
}
footer#rodape h5 {
	text-align: center;
}

video#filme01 {
	display: block;
	position: relative;
	left: 10px;
	top: -5px;
	width: 500px;
}
video#filme02 {
	display: block;
	position: relative;
	left: 0px;
	top: -5px;
	width: 350px;
}
