@charset "UTF-8"

ul#album-fotos{
	width: 700px;
	margim: 0 auto;
	padding: 50px;
	overflow: hidden;
	list-style: none;
}

ul#album-fotos li{
	margin: 12px;
	float: left;
	width: 200px;
	height: 200px;
	border: 2px solid white;
	background-color: #ffffff;
	box-shadow: 1px 1px 2px rgba(0,0,0,.4);
	-webkit-transition: all 0.2s ease-in;
}

ul#album-fotos li span {
	opacity: 0;
	color: #ffffff;
	text-shadow: 1px 1px 1px #000000;
	background-color: rgba(0,0,0,.3);
	font-size: 12pt;
	line-height: 370px;
	padding: 5px;
}

ul#album-fotos li:hover{
	-webkit-transform: scale(2);
}

ul#album-fotos li span:hover{
	opacity: 1;
}

ul#album-fotos li#foto1{
	background: url("../_imagens/galeria-01.jpg") no-repeat;
	background-position: 50% 50%;
	background-size: 400px 400px;
	background-color: #ffffff;
}

ul#album-fotos li#foto1:hover{
	background-position: 0px 0px;
	background-size: 200px 200px;
}

ul#album-fotos li#foto2{
	background: url("../_imagens/galeria-02.jpg") no-repeat;
	background-position: 50% 50%;
	background-size: 400px 400px;
	background-color: #ffffff;
}

ul#album-fotos li#foto2:hover{
	background-position: 0px 0px;
	background-size: 200px 200px;
}

ul#album-fotos li#foto3{
	background: url("../_imagens/galeria-03.jpg") no-repeat;
	background-position: 50% 50%;
	background-size: 400px 400px;
	background-color: #ffffff;
}

ul#album-fotos li#foto3:hover{
	background-position: 0px 0px;
	background-size: 200px 200px;
}

ul#album-fotos li#foto4{
	background: url("../_imagens/galeria-04.jpg") no-repeat;
	background-position: 50% 50%;
	background-size: 400px 400px;
	background-color: #ffffff;
}

ul#album-fotos li#foto4:hover{
	background-position: 0px 0px;
	background-size: 200px 200px;
}

ul#album-fotos li#foto5{
	background: url("../_imagens/galeria-05.jpg") no-repeat;
	background-position: 50% 50%;
	background-size: 400px 400px;
	background-color: #ffffff;
}

ul#album-fotos li#foto5:hover{
	background-position: 0px 0px;
	background-size: 200px 200px;
}

ul#album-fotos li#foto6{
	background: url("../_imagens/galeria-06.jpg") no-repeat;
	background-position: 50% 50%;
	background-size: 400px 400px;
	background-color: #ffffff;
}

ul#album-fotos li#foto6:hover{
	background-position: 0px 0px;
	background-size: 200px 200px;
}
