body#ex04{
    font-family: Arial, Helvetica, sans-serif;
    margin: 8%;

    header{
        background-color: #081a24;
        
        nav{
            height: 50px;
            max-width: 850px;
            margin-left: 20%;

            img{
                float: left;
                margin: 6px;
            }
            ul{
                float: right;
                
                li{
                    margin: 0 10px;
                    display: inline-block;

                    a{
                        padding: 5px 20px;
                        color: #225559;
                        text-transform: uppercase;
                        text-decoration: none;
                        font-size: 14px;
                        letter-spacing: 2px;
                        border: 1px solid transparent;
                        
                        &:hover{
                            border: 1px solid #225559;
                        }
                    }
                }
            } 
        }

        .header-slider{
            img{
                width: 100%;
            }
        }
    }

    .secao-portfolio{
        margin: 8%;
        text-align: center;

        h1{
            font-size: 2.5em;
        }
        p{
            font-size: 1em;
            line-height: 35px;
            letter-spacing: 1px;
        }
    }
    
    .secao-galeria{
        text-align: center;

        article{
            margin: 0 auto;
            display: inline-block;
            
            h3{
                text-transform: uppercase;
                font-weight: bold;
                color: #1b3e50;
            }
            p{
                color: #9a9a9c;
            }
        }
    }

    .secao-sobre{
        background: #003d52 url(../img/fashion/bg_detalhe.png) bottom right no-repeat; //#013b53;
        color: white;
        padding: 8%;

        h2{
            font-size: 3em;
            font-weight: normal;
            text-transform: uppercase;
        }
        p{
            width: 55%;
            font-size: 1em;
            line-height: 25px;
        }
    }
    .secao-contato{
        text-align: center;
        font-size: 1.5em;

        h3{
            color: #003d52;
            text-transform: uppercase;
            padding: 5%;
        }

    }

    footer{
        background-color: #001018;
        text-align: center;
        margin-top: 5%;
        padding: 1px;
        
        p{
            padding: 10px;
            letter-spacing: 5px;
            color: #4e8a9b;
            font-size: 12px;
        }
    }
}