body {
    margin: 0;
    padding: 0;

    #ex03{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        background-color: #cccccc;
        
        a{
            color: white;
            text-decoration: none;
        }

        header{
            min-height: 600px;
            background-image: url('../img/bg-3.jpg');
            background-size: cover;
            background-position: center;
            position: relative;

            #nav-ex3 {
                max-width: 400px;
                position: absolute;
                top: 0;
                right: 0;
                padding: 20px;
                z-index: 2;
                
                ul li{
                    margin: 0 5px;
                    list-style: none;
                    display: inline-block;
                    
                    a{
                        padding: 15px;
                        border: 1px solid white;
                        background-color: transparent;
                        border-radius: 2px;
                        -webkit-border-radius: 2px;
                        -moz-border-radius: 2px;
                        -ms-border-radius: 2px;
                        -o-border-radius: 2px;
                    }
                    a:hover{
                        background-color: #00000066;
                    }
                }
            }
            div{
                color: white;
                position: relative;
                text-align: center;
                padding: 15%;
                z-index: 1;
                h1{
                    font-size: 5em;
                    text-transform: uppercase;
                    text-shadow: 1px 1px 2px #000;
                }
                a{
                    padding: 20px;
                    background-color: #00000066;
                    font-size: 1.5em;
                    border-bottom: 2px solid transparent;
                }
                a:hover{
                    border-bottom: 2px solid #fff;
                }
            }
        }
        main{
            background: none;
            max-width: 80%;
            margin: 20px auto;

            section{
                background-color: #fff;
                margin-top: 20px;
            }
            
            .container-div-1{
                padding: 10px;
                margin: auto;
                text-align: center;

                div p{
                    bottom: 0px;
                    background-color: #00000087;
                    padding: 10px 0;
                    position: absolute;
                    margin: 0px;
                    width: 300px;

                }
                div p:hover{
                    background-color: #000000bd;
                }
                div a{
                    font-weight: bold;
                    color: white;
                    text-transform: uppercase;
                    text-decoration: none;
                }
                
                .child-div-1, .child-div-2, .child-div-3{ 
                    background-color: #fff;
                    margin: 0 5px;
                    width: 300px;
                    height: 169px;
                    display: inline-block;
                    position: relative;
                }
            }
            .container-div-2{
                padding: 10px;
                h1{
                    font-size: 1.5em;
                    background-color: #cccccc;
                    margin: 0;
                    padding: 5px;
                    border-bottom: 2px solid #767676;
                }
            }
        }
        footer{
            background-color: #616161;
            display: flex;
            justify-content: center;
            
            p{
                text-align: center;
                color: white;
            }
            
        }
    }
}