@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400&display=swap');

body#ex05{
    font-family: 'Raleway', sans-serif;
    width: 100%;
    overflow: auto;

    .main-header{
        width: 40%;
        float: left;
        height: 100vh;
        position: fixed;
        background-image: url(../img/strata/bg.jpg);
        background-size: cover;
        text-align: right;

        .main-header-bg{
            background-color: #00000056;
            height: 100vh;
        }

        &-link {
            position: absolute;
            top: 15%;
            right: 10%;

            img{
                border-radius: 50%;
                border: 3px solid transparent;
                    
                &:hover{
                    border: 3px solid white;
                }
            }
        }
        
        h1{
            font-weight: 200;
            position: absolute;
            font-size: 16px;
            top: 35%;
            right: 10%;
            color: #d4d4d4;
            list-style: 1.2em;

            strong{
                color: #fff;
            }
        }
        p{
            font-weight: 300;
            color: #676767;
            margin: 0;
            padding: 0;
            top: 50%;
            right: 10%;
            position: absolute;

            a{
                color: #676767;
                text-decoration: dashed;
                
                &:hover{
                    color: #49bf9d;
                }
            }
        }
    }

    .main-content{
        float: right;
        width: 60%;
        padding-top: 40px;
        
        .button-default{
            display: inline-block;
            margin-top: 10px;
            padding: 10px;
            border-radius: 5px;
            border: 1px solid #9b9b9b;
            text-decoration: none;
            color: #9b9b9b;
    
            &:hover{
                background-color: #49bf9d;
                border-color: #49bf9d;
                color: white;
            }
        }

        .main-content-section{
            width: 90%;
            margin: 40px auto;

            h2{
                font-size: 1.5em;
                color: #676767;
                font-weight: 400;
            }
            p{
                font-size: 1em;
                font-weight: 200;
            }
        }
        .main-content-section-rw{
            width: 90%;
            margin: 40px auto;

            h2{
                font-size: 1.5em;
                color: #676767;
                font-weight: 400;
            }

            article{
                display: inline-block;
                width: 250px;
                margin-right: 80px;
                position: relative;
                
                a {
                    img{
                        width: 100%;    
                        border-radius: 5px;
                    }
                    p{
                        display: none;
                        position: absolute;
                        text-decoration: none;
                        color: white;
                        background-color: #0000008a;
                        border: 1px solid white;
                        padding: 10px;
                        border-radius: 5px; 
                    } 
                    &:hover p{
                        top: 20%;
                        right: 30%;
                        display: block;
                    } 
                }
            }

            .button-2{
                display: block;
                margin-top: 10px;
                padding: 10px;
                border-radius: 5px;
                border: 1px solid #9b9b9b;
                text-decoration: none;
                color: #9b9b9b;
                width: max-content;
 
                &:hover{
                    background-color: #49bf9d;
                    border-color: #49bf9d;
                    color: white;
                }
            }
        }
        
        .main-content-section-form{
            width: 90%;
            margin: 40px auto;
            overflow: hidden;

            h2{
                font-size: 1.5em;
                color: #676767;
                font-weight: 400;
            }
            p{
                font-size: 1em;
                font-weight: 200;
            }

            form{

                float: left;
                width: 65%;

                .label-name{
                        margin-right: 19% !important;
                }
                .label-name, .label-mail{
                    width: 30%;
                    display: block;
                    float: left;
                    color: #676767;
                    
                    input{
                        display: inline-block;
                        margin-top: 5px;
                        padding: 10px;
                        width: 180px;
                        background-color: #bdbdbd;
                        
                        border-radius: 5px;

                    }
                }
                .label-textarea{
                    clear: left;
                    color: #676767;
                    display: block;
                    margin-top: 70px;
                    
                    textarea{
                        display: inline-block;
                        margin-top: 5px;
                        width: 90%;
                        height: 100px; 
                        resize: none;
                        padding: 10px;
                        background-color: #bdbdbd;
                        border-radius: 5px;

                    }
                }
                input[type="submit"]{
                    background-color: transparent;
                    display: block;
                    margin-top: 10px;
                    padding: 10px;
                    border-radius: 2px;
                    border: 1px solid #9b9b9b;
                    text-decoration: none;
                    color: #9b9b9b;
                    width: max-content;
                    cursor: pointer;
    
                    &:hover{
                        background-color: #49bf9d;
                        border-color: #49bf9d;
                        color: white;
                    }
                }
            }
            address{
                display: inline-block;
                width: 35%;
                padding: 0 5px;
                box-sizing: border-box;
            }
        }
        
        .main-content-section-elements{
            width: 90%;
            margin: 40px auto;

            h1, h2, h3, h4, h5, h6{
                line-height: 1.2em;
            }
            h2{
                font-size: 1.5em;
                color: #676767;
                font-weight: 400;
            }
            h3{
                color: #676767;
                font-weight: 400;
                font-size: 1.2em;                
            }
            p{
                font-size: 1em;
                font-weight: 200;
            }

            .list-before{
                width: 50%;
                float: left;
            }
            .list-after{
                width: 50%;
                float: right;
            }
            .group-buttons{
                .btn{
                    background-color: #49bf9d;
                    border-radius: 4px;
                    padding: 10px 15px;
                    text-decoration: none;
                    color: #ffffff;
                }
                .btn-hover{
                    border: 1px solid #ccc;
                    border-radius: 4px;
                    padding: 9px 14px;
                    text-decoration: none;
                    color: #676767;
                    
                    &:hover{
                        background-color: #49bf9d;
                        border: 1px solid #49bf9d;
                        color: white;
                    }
                }

                .btn-small{
                    font-size: .6em;
                }
                .btn-full{
                    display: block;
                    text-align: center;

                }

                .container-btn-1{
                    width: 50%;
                    float: left;

                    div{
                        margin: 40px 0;
                    }
                }
                .container-btn-2{
                    width: 50%;
                    float: left;

                    div{
                        margin: 40px 0;
                    }
                }
            }

            code{
                background-color: #ededed;
                border-radius: 3px;
                padding: 2px;
                border: 1px solid #cbcbcb;
            }
            pre{
                background-color: #ededed;
                border: 1px solid #cbcbcb;
                border-radius: 3px;
                padding: 10px;

                code{
                    background-color: transparent;
                    padding: 5px;
                }
                margin-bottom: 20px;
            }

            .table{
                width: 100%;
                margin-bottom: 2em;
                border-collapse: collapse;

                td{
                    padding: .5em; 
                }
                th{
                    background-color: #9b9b9b;
                    text-align: left;
                    padding: .5em;
                }
                
                tbody tr{
                    
                    &:nth-child(even){
                        border-bottom: 1px solid #515151;
                        border-top: 1px solid #515151;
                        background-color: #ccc;
                    }
                    &:first-child td{
                        border-top: 2px solid #515151;
                    }
                    &:last-child td{
                        border-bottom: 2px solid #515151;
                    }
                }
                tfoot{
                    td{
                        padding-right: 2em;
                        text-align: right;
                    }
                }
            }
            .table-2{
                tbody td:nth-child(odd){
                    border: 1px solid #676767;
                }
                tfoot td{

                }
            }

            .row{
                display: inline-block;
                .col-1{
                    width: 100%;
                }
                .col-3{
                    text-align: center;
                    width: 31.5%;
                    margin: 1%;
                    box-sizing: border-box;

                    &:nth-child(3n-1){
                        margin-left: 0%;
                    }
                    &:nth-child(3n-2){
                        margin-right: 0%;
                    }
                }
            }
        }

    }

    .main-footer{
        clear: both;
    }
}