.interna-sobre{
    background-image: url(../img/bg-sobre.jpg);
    background-size: cover;
}
.missao-sobre{
    padding-top: 60px;
}
.missao-sobre p{
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 1em;
    padding-right: 60px;
}
.missao-sobre ul li{
    font-family: Georgia, 'Times New Roman', serif;
    font-size: 18px;
    line-height: 30px;
}
.foto-equipe{
    padding-top: 20px;
}