@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}
body {
 -webkit-font-smoothing: antialiased;
}
body, input, button {
 font-size: 16px;
}
a, h1, h2, h3, h4, h5, h6{ font-family: "Montserrat",serif; }
p{ font-family: "Nunito",sans-serif; }
button {
 cursor: pointer;
}

/*
    M O B I L E
    F I R S T
*/

/* M E N U  P R I N C I P A L*/
.hide-menu-desktop{
    display: none;
}
nav{
    background-color: #000000dd;
    width: 100%;
    padding: 1.2em;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
nav img{
    width: 120px;
}
nav ul{
    padding-top: 3px;
}
nav ul li{
}
nav ul a{
    text-decoration: none;
    color: #fff;
    font-size:14px;
    font-weight: 800;
    padding: 0 1em;
    text-transform: uppercase;
    
}
nav ul a:hover{
    color: #fff;
    border-bottom: 8px solid #0db551;
}

/* ORIGAMID MENU DESIGN */


/* C A B E Ç A L H O */
.header{
    background: url("../images/background-home.jpg");
    height: 100vh;
}
.home{
    width: 90%;
    margin: 36% auto;
    color: #fff;
}
.home hr{
    width: 12%;
    height: 5px;
    margin: 2.25em 0;
    color: #0db551;
    opacity: 1;
    border-radius: 12%;
    -webkit-border-radius: 12%;
    -moz-border-radius: 12%;
    -ms-border-radius: 12%;
    -o-border-radius: 12%;
}
.home h1{
    font-size: 4em;
    font-weight: 600;
    line-height: 1em;
}
.home p{
    font-size: 20px;
    font-weight: 200;
    line-height: 1.75em;
    padding: 0;
    margin: 0;
}
/*
    BREAKPOINT DESKTOP
*/
@media (min-width: 800px){
    nav{
        padding: 1.2em 3em;
    }
    nav ul li, .hide-menu-desktop{
        display: inline-block;
    }

    .home{
        width: 40%;
        margin: 20% 15%;
        color: #fff;
    }
    .home hr{
        width: 10%;
        height: 3px;
    }
}

/*
    BREAKPOINT TABLET
*/